h1 {
    display: inline-block;
}
p {
    display: inline-block;
}
.hhhh {
    display: inline-block;
}
.nnnn {
    display: inline-block;
}
.mmmm {
    display: inline-block;
}
.gggg {
    display: inline-block;
}
small {
    display: inline-block;
}
img  {
    display: inline-block;
}