
.hhhh {
    display: inline-block;
    width: 350px;
    
}
.nnnn {
    display: inline-block;
    width: 350px;
    height: 350px;
}
.mmmm {
    display: inline-block;
    width: 350px;
}
.gggg {
    display: inline-block;
    width: 350px;
    
}
